@import "components/grid";
@import "components/buttons";
@import "helpers/varibles";

.progress-bar{
  align-items: center;
}
.settings{
  height: 110px;
  &.progress-bar{
    position: relative;
    top: 40px;
    align-items: center;
    .progress-label{
      color: $warm-grey;
      font-size: 14px;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
  }
}
.sn-select-container{
  margin-top: 20px;
  width: 30%;
  .sn-select{
    width: 100%;
  }
}
.button-container{
  padding: 5px 10px;
  align-self: center;
}

.diff-table-error {
  color: #FF460D;
  height: 90px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}
