:host{
  display: flex;
  margin-top:10px;
  width: 25%;
}
.about-block-item{
  display: flex;
  padding: 5px;
  flex-direction: column;
  margin: 0 auto;
  width: 90%;
  background-color: #f0f0f0;
  height: 140px;
  overflow: hidden;
  box-sizing: border-box;
}
h5{
  display: flex;
  position: relative;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-size: 16px;
  color: #2d2d2d;
  justify-content: space-between;
}

.description{
  margin: 5px 0;
  font-family: "Roboto Mono", sans-serif;
  font-size: 12px;
  letter-spacing: 0.4px;
  color: #2d2d2d;
  overflow: hidden;
}
.btn-container{
  .edit-btn, .remove-btn{
    padding: 0;
    border: none;
    outline: none;
    height: 15px;
    width: 15px;
    cursor: pointer;
    background: none;
    &:hover{
      opacity: 0.5;
    }
    .mat-icon{
      display: block;
      font-size: 15px;
      height: 15px;
      width: 15px;
      color: #2d2d2d;
    }
  }
}
.empty-description{
  display: flex;
  justify-content: center;
  .add-about-block-btn{
    display: flex;
    margin-top:10px;
    outline: none;
    cursor: pointer;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #f0f0f0;
    background-image:  url("../../../../../assets/img/add-icon.png");
    background-position: center center;
    background-size: 40px;
    background-repeat: no-repeat;
  }
}
.info{
  font-size: 12px;
  p{
    margin: 2px;
  }
}
