@import "components/tuning";
@import "helpers/varibles";
@import 'components/grid';
@import 'components/label';
@import 'components/buttons';

$input_left_margin: 32px;
$width_100: 100%;
$max_field_count: 3;
$input_width: calc((#{$width_100} - 2 * #{$input_left_margin}) / #{$max_field_count});

:host {
  background-color: $white;
  @extend .container-padding;
  padding: 0 50px 15px 30px;
}

textarea {
  max-height: 75px;
}


.input-field {
  width: $input_width;
  margin-right: 2rem;
  &:last-child {
    margin-right: 0;
  }
}

.row-container {
  display: flex;
  flex-wrap: nowrap;
  height: 70px;
}

#cnt_fromTo {
  mat-form-field {
    width: calc(#{$input_width} / 2);
  }
}

.search-input-container {
  display:flex;
  flex-wrap: nowrap;;
  margin: 1rem 0;
}

::ng-deep .search-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
  #f_searchFormField {
    input {
      width: 98%;
    }
    font-size: 1.5rem;
    label {
      color: $warm-grey;
      line-height: 1.33;
    }
    mat-error {
      font-size: 1rem;
    }
    &.mat-form-field-invalid {
      .mat-form-field-underline {
        background-color: $red;
      }
    }

    &.mat-form-field-disabled {
      .mat-form-field-underline {
        display: none;
      }
    }
    &.mat-form-field-should-float {
      label {
        font-size: 1rem;
        color: $black;
        letter-spacing: 0.4px;
        top: 2em;
      }
    }
    .mat-form-field-underline {
      height: 2px;
    }
    .mat-form-field-flex {
      align-items: flex-end;
    }
  }

  .row-container {
    .mat-form-field-underline {
      background-color: $warm-grey;
    }
    .mat-select-value-text {
      color: $black;
    }
    .mat-form-field-disabled {
      .mat-form-field-underline {
        display: none;
      }
      .mat-select-arrow {
        border: none;
      }
      .mat-form-field-suffix {
        display: none;
      }
    }
  }
}


.toggle-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  mat-label {
    margin-right: 24px;
  }
}

::ng-deep {
  .row-container {
    label {
      color: $warm-grey;
    }
    .mat-pseudo-checkbox-checked {
      background-color: $red;
    }
  }
}

.search-field {
  width: 100%;
  margin-right: 2rem;
}

.hidden {
  visibility: hidden;
}

.button-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  min-height: 50px;
  @media screen and (max-width: 900px) {
    button {
      min-width: 100px;
      font-size: 12px;
    }
  }
}


