//Palette
$red: #FF460D;
$light-red: #ff6621;
$dark-red: #ee3700;
$transparent-red: #ff460d;
$white: #FFFFFF;
$white-two: #dbdbdb;
$dark-grey: #2D2D2D;
$black: #000000;
$warm-grey: #9b9b9b;
$deep-blue: #001488;
$dark-blue: #082334;
$apple-green: #7ed321;
$marine: #0a3148;
$placeholder-grey: #8C8C8C;
$light-blue-grey: #cfeeed;


//Component width
$sidebar-width: 124px;

//Media width
$mobile-width: 500px;
$tablet-width: 750px;
$desktop-width: 1024px;
