.title{
  font-size: 36px;
  font-family: Roboto, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: $dark-grey;
}
.message {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  color: $dark-grey;
}
.close-icon{
  width: 36px;
  height: 36px;
}
