:host {
  text-align: left;
  padding-right: 10px;
  display: block;
}

.notification-date {
  font-size: 12px;
  color: #999;
  margin: 20px 0 10px;
}

.no-data {
  margin: 20px;
  text-align: center;
}

.load-more-btn {
  margin-top: 10px;
}

.controls {
  text-align: center;
}