<div class="width-100 height-100" id="c_dataSourceCnt">
  <div class="header" [ngClass]="{'header-on-error': isLoadingResults || failedGateway}">
    <app-breadcrumbs [items]="[{label:'анализ данных', route:'../list'}]" [id]="'list'"></app-breadcrumbs>
    <h1 class="title-large" id="h_addDataSource">{{"dataSource.addDataSource.title" | translate }}</h1>
  </div>
  <app-data-source-form
    [dataSource]="{}"
    [formObject]="addDataSourceForm"
    [proxies]="proxyCountryList"
    [isLoading]="isLoadingResults"
    [isFailed]="failedGateway"
    [formMode]="formMode"
    (submitForm)='create($event)'
    (submitFailed)='createFailed($event)'
    (setIsDirty)='setIsDirty($event)'
    *ngIf="addDataSourceForm && !isLoadingResults && !failedGateway"
  >
    <div form-content-actions class="footer">
      <button
        mat-button
        type="button"
        class="button button-text"
        id="b_cancelBtn"
        (click)="cancelDataSourceCreate()"
      >
        {{"general.cancelBtn" | translate}}
      </button>
      <button
        mat-button
        type="submit"
        class="button button-primary"
        id="b_saveBtn"
        [disabled]="isLoadingResults || failedGateway"
      >
        {{"dataSource.addDataSource.createBtn" | translate}}
      </button>
    </div>
  </app-data-source-form>

  <div class="loading-spinner" *ngIf="isLoadingResults || failedGateway" id="d_loadingSpinnerCnt">
    <mat-spinner *ngIf="isLoadingResults" id="s_spinnerCmp"></mat-spinner>
    <div id="cnt_errorCnt" class="gateway-api-errors" *ngIf="!isLoadingResults && failedGateway">
      {{"dataSource.gatewayUnavailable" | translate}}
    </div>
  </div>
</div>



